<div class="main-page-search-box">
  <input
    class="form-control"
    placeholder="Type to search images"
    aria-label="Search"
    [(ngModel)]="searchQuery"
  />

  <button
    class="rounded-lg main-page-search-btn"
    (click)="searchImages(searchQuery)"
  >
    Search
  </button>
</div>

<div
  class="search-results"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="loadMoreOnScroll(searchQuery)"
>
  <div class="images-container">
    <div *ngFor="let image of images$ | async" class="image-box">
      <img
        src="{{ image.webformatURL }}"
        class="img-thumbnail image-list-img"
        (click)="onSelect(image)"
      />
    </div>
  </div>
</div>

<div *ngIf="!(images$ | async)" class="images-will-be-here">
  Search to display images...
</div>

<div
  *ngIf="!hasMoreToLoad && (images$ | async)"
  class="no-more-images images-will-be-here"
>
  There're no images to display...
</div>
