@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.main-page {
  width: 100%;
  height: fit-content;
  color: white;
  background: #8e2de2;
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-page-container {
  display: grid;
  justify-items: center;
  height: fit-content;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  height: 10vh;
  margin: 5vh 0;
}

.logo {
  color: white;
  font-family: "Lobster", cursive;
  justify-self: start;
  margin-left: 5vw;
}

.username {
  justify-self: end;
  margin-right: 2vw;
  font-size: 25px;
  font-weight: bold;
  margin-right: 5vw;
}

@media (max-width: 425px) {
  .logo {
    justify-self: center;
  }
}
