@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.main-page {
  width: 100%;
  height: fit-content;
  color: white;
  background: #8e2de2;
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-page-container {
  display: grid;
  justify-items: center;
  height: fit-content;
}

.logo {
  color: white;
  font-family: "Lobster", cursive;
  justify-self: start;
  margin: 5vh 2vw;
  align-self: center;
  height: 10vh;
}

@media (max-width: 425px) {
  .logo {
    justify-self: center;
  }
}
