<form class="sign-up-inputs-box">
  <input
    class="sign-up-input username-input"
    placeholder="Username"
    required
    #userNameInput
    minlength="4"
  />
  <input
    type="email"
    class="sign-up-input email-input"
    placeholder="Email"
    required
    #userEmailInput
  />
  <input
    class="sign-up-input pswd-input"
    placeholder="Password"
    required
    minlength="6"
    #userPswdInput
  />
  <input
    class="sign-up-input pswd-input"
    placeholder="Confirm Password"
    required
    #userPswdConfirmed
  />
</form>
