.sign-up-inputs-btn-layer {
  height: fit-content;
  display: grid;
  grid-gap: 3vh;
  padding: 3vh 0;
}

.sign-up-inputs-box {
  display: grid;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-gap: 3vh;
}

.sign-up-input {
  border-radius: 2px;
  border: none;
  width: 25vw;
  height: 6vh;
  padding-left: 1vw;
}

.sign-up-buttons-box {
  display: grid;
  grid-gap: 5vh;
}

.sign-up-btn {
  border: none;
  color: white;
  text-transform: capitalize;
  background: none;
  border: white 1px solid;
  border-radius: 3px;
  height: 100%;
  padding: 1vh 0;
  transition: 0.4s;
}

.sign-up-btn:hover {
  background-color: white;
  color: #8e2de2;
  border: none;
}

.sign-up-btn:disabled {
  opacity: 0.2;
}

.required-field {
  color: rgb(255, 64, 64);
}

@media (max-width: 426px) {
  .sign-up-input {
    width: 80vw;
  }
}

@media (min-width: 427px) and (max-width: 1024px) {
  .sign-up-input {
    width: 40vw;
  }
}
