/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  width: 100%;
  background: #8e2de2;
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
